@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'bitbit';
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'), url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

@font-face {
  font-family: 'KimjungchulGothic-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.nav_search {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 5vh;
  margin-top: 5vh;
  margin-left: 32vw;
  background-color: rgba(151, 147, 147, 0.2);
  border-radius: 20px;
  border: 1px solid #fff;
}

.nav_search_input {
  height: 100%;
  width: 35vw;
  padding: 5px;
  color: #000000;
  font-size: 17px;
  border: 0;
  background: transparent;
  border-radius: 20px;
  margin-left: 10vw;
}

.nav_search_btn {
  font-family: 'KimjungchulGothic-Bold';
  font-size: 18px;
  cursor: pointer;
  height: 5vh;
  width: 5vw;
  color: #000000;
  background-color: #c1b0b0;
  border-left: 1px solid #fff;
  border-radius: 30px;

  &:hover {
    background-color: #1b1b1b;
    color: white;
  }

  &:focus {
    outline: 0;
  }
}

.nav_div {
  margin: 0 auto;
  text-align: center;
}

.nav_ul {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  width: 70vw;
  border-radius: 30px;
  margin-top: 5vh;
  margin-left: 24vw;
  text-decoration: none;
}

.nav_a {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'KimjungchulGothic-Bold';
  margin-left: 10vw;
  cursor: pointer;
}

.nav_a:hover {
  color: #c1b0b0;
}

.nav_a:focus {
  color: #c1b0b0;
}