.simple-page {
  font-family: 'bitbit', sans-serif;
}

.simplepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 227, 225);
  color: rgb(255, 148, 148);
}

.logo {
  width: 50px;
  height: 50px;
}

.category-menu {
  display: flex;
  gap: 20px;
}

.category-button {
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


.content {
  padding: 20px;
  background-color: rgb(255, 227, 225);
}

.faq-section {
  padding: 20px;
  border-radius: 10px;
}


.accordion-header {
  padding: 10px;
  border: 1px solid pink;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}
.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-content.active {
  background-color:  rgb(255, 227, 225);
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}

.page-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(255, 148, 148);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

