:root {
    --main-color: rgb(218, 144, 144);
    --secondary-color: rgb(255, 209, 209);
    --success-color: #4caf50;
    --failure-color: #f44336;
}
.mission-page {
    display: flex;
    flex-direction: column;
    font-family: 'bitbit', sans-serif;
    padding: 20px;
}
.logo{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    width: 30vh;
    margin-top: 20vh;
    color: var(--main-color);
}
.back-button{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(218, 104, 104, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.participants {
    position: fixed;
    top: 150px; 
    bottom: 450px;
    left: 20px;
    background-color:var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    color: white;
    
}

.mission-status {
    text-align: center;
    margin: 20px 0;
}
.upload-button {
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

  
.mission-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto); 
    border: black solid 1px;
    background-color: var(--secondary-color);
    gap: 20px;
}
  
.mission-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.mission-info {
    background-color: white;
    flex: 1;
  }
  
.date {
    background-color: white;
    margin: 10px;
    font-size: 10px;
    color: #777;
}
  
.name {
    background-color: white;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
  
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
 }
  
  .success-indicator {
    background-color: var(--success-color);
  }
  
  .failure-indicator {
    background-color: var(--failure-color);
  }
  